.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  font-family: 'Red Hat Display', sans-serif;
  width: 200px;
  margin-bottom: 30px;
}

.card-trip h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Red Hat Display', sans-serif;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding: 2px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
}

.card-trip-infos .card-plus {
  font-size: 20px;
  color: white;
  background-color: darksalmon;
  padding: 5px 10p;
  margin: 10px auto 0;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 10px;
  text-align: center;
  top: -300px;
  width: 32px;
}

.cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

#title {
  margin: 30px auto;
  width: inherit;
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

.card-image {
  width: 200px;
  vertical-align: middle;
  overflow: hidden;
  height: 200px;
  object-fit: cover;
}

.card-button {
  text-decoration: none;
  color: white;
  background-color: darksalmon;
  padding: 10px 20px;
  margin: 10px auto 0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    &:hover {
      color: black;
  }
}

// Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }
